<!doctype html>
<html lang="it">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

        <title>Excel Data Gen</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Excel Data Gen</a>
        </nav>
        <div class="container text-center">
            <div class="d-flex flex-column align-items-center mt-5 vh-50">
                <div style="width: 350px;">
                    <a href="read_excel" class="btn btn-primary btn-lg mb-3 w-50">Read Excel</a>
                    <a href="/storico_dati" class="btn btn-secondary btn-lg mb-3 w-50">Storico Dati</a>
                    <a href="/template" class="btn btn-success btn-lg mb-3 w-50">Template</a>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>